

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<br>

{% if error_message %}
<p><strong>{{error_message}}</strong></p>
{% endif %}


{% if latest_question_list %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h3 class="panel-title">
                       Choose pool to vote:
                    </h3>
                </div>
                <div class="panel-body">
                     {% for question in latest_question_list %}

                        <li class="list-group-item">
                            <a href = "{% url 'polls:detail' question.id %}">{{question.question_text}}</a>
                            <p><small>{{question.category}}</small></p>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="panel-footer">

            </div>
        </div>
    </div>
</div>
{% else %}
    <p>No polls are available</p>
{% endif %}
